.header {
  display: flex;         
  align-items: center;   
  gap: 15px;             /* Adjust the gap as needed */
}

.logo {
  height: 50px;          /* Set your desired logo height */
  width: auto;           /* Maintains aspect ratio */
}

.entryForm {
    display: flex;
    flex-direction: column;
}